<ul class="breadcrumb">
    <li><a href="#/inicio">Início</a> <span class="divider">&gt;</span></li>
    <li class="active">Relatório</li>
</ul>
<div id="gerar-relatorio-block" class="row-fluid">
    <div class="span6 offset3">
        <div class="page-header">
            <h2 align="center">Gerar Relatório</h2>
        </div>
        <span class="err"></span>
        <div class="form-horizontal">
            <div class="control-group">
                <label for="dataInicio" class="control-label">Início</label>
                <div class="controls">
                    <input type="text" id="dataInicio" class="span5 datepicker">
                </div>
            </div>
            <div class="control-group">
                <label for="dataFim" class="control-label">Fim</label>
                <div class="controls">
                    <input type="text" id="dataFim" class="span5 datepicker">
                </div>
            </div>
            <div class="control-group">
                <label for="classe" class="control-label">Classe</label>
                <div class="controls">
                    <select class="span4" name="nivel" id="">
                        <option value="0">Auxiliar</option>
                        <option value="1">Assistente</option>
                        <option value="2">Adjunto</option>
                        <option value="3">Associado</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label for="nivel" class="control-label">Nível</label>
                <div class="controls">
                    <select class="span4" name="nivel" id="">
                        <option value="0">I para II</option>
                        <option value="1">II para III</option>
                        <option value="2">III para IV</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Categoria</label>
                <div class="controls">
                    <% _.each(categorias, function (c) { %>
                        <input type="checkbox" value="<%= c.id %>">  <%= c.nome %><br/>
                    <% }); %>
                </div>
            </div>
            <div class="controls"><button id="gerar" class="btn btn-primary">Gerar Relatório</button></div>
        </div>
    </div>
</div>